@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@font-face {
    font-family: 'GveretLevinAlefAlefAlef-Regular';
    src: url('10-be-bishul/font/GveretLevinAlefAlefAlef-Regular.ttf') format('truetype');
}
html {/*----יצירת גלילה חלקה של המסך----*/
    scroll-behavior: smooth;
}
body {
    direction: rtl;
    background-image: url('../images/background/background-squares-01.png');
    background-color: #EDEDED;
/*    font-family: Rubik, sans-serif;*/
    margin: 0 auto;
    font-size: 16pt;
}

#container{
    margin: 0 auto;
    width: 1280px;
    display: contents;
}
/*------עוטף את כל החלק של התוכן-----*/
#mainContent {
    width: 1280px;
    height: 100%;
    margin: 0 auto;
    font-family: Rubik;
}

/*----------------- קישורים שאינם פעילים ------------------*/
.notActive{
    color:gray;
    cursor:not-allowed;

}


/*לוגו האתר*/

img#logo {
    display: inline-block;
    position: fixed;
    width: 200px;
    height: 140px;
    margin-top: -48px;
    z-index: 2;
}

/*רקע לשורת ניווט עליונה*/
ul#upperNav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: ghostwhite;
    width: 100%;
    height: 61px;
    font-family: 'Gveret Levin AlefAlefAlef';
    font-size: 16pt;
    position: fixed;
    top: 0px;
    z-index: 1;
    padding-right: 0px;
    margin-top: 0px;
}


/*---------------- כפתור "דלג לתוכן -----------------------------"*/
#contentA {
    text-align: center;
    border: solid 1px #663333;
    background-color: white;
    margin-top: 67px;
    margin-right: 1362px;
    width: 130px;
    border-radius: 5px;
    position: fixed;
    z-index: 2;
    font-size: 12pt;
}

#content:link {
    color: black;
    text-decoration: none;
}

#content:active {
    text-decoration: none;
    color: black;
}

#content:visited {
    text-decoration: none;
    color: black;
}
/*----------------------------תפריט ניווט נפתח מתוך המתכונים -----------------------*/
#insideRecipes {
    display: none;
    position: absolute;
    margin-right: -44px;
    margin-top: 430px;
    width: 257px;
    height: 343px;
    list-style: none;
    border-radius: 25px;
    background-color: ghostwhite;
    text-align: right;
}

#insideRecipes li{
    padding-top:40px;
}
/*    -------פתיחת תת תפריט של מתכונים -----*/
#upperNav li:hover #insideRecipes, #upperNav li:focus #insideRecipes {
    display: block;
}

/*----------------------------תפריט ניווט נפתח מתוך הטיפים -----------------------*/
#insideTips {
    display: none;
    position: absolute;
    margin-right: -44px;
    margin-top: 242px;
    width: 257px;
    height: 155px;
    list-style: none;
    border-radius: 25px;
    background-color: ghostwhite;
    text-align: right;
}

    #insideTips li {
        padding-top: 40px;
        padding-right: 40px;
    }
/*    -------פתיחת תת תפריט של טיפים -----*/
#upperNav li:hover #insideTips, #upperNav li:focus #insideTips {
    display: block;
}

/*-------------הגדרות סרגל ניווט ראשי+ ברד קראמבס----------*/
 ul#upperNav > li {
    margin: 5px 40px;
    list-style-type:none;
    height: 100px;
}

ul#insideRecipes > li {
    margin: 5px 40px;
    list-style-type: none;
}

li.nav1 {
    display: flex;
    align-items: center;
}

/*------------------מעבר עכבר לסרגל ניווט ראשי+ ברד קראמבס-----------------*/

    .nav:link {
        color: black;
        text-decoration: none;
    }

a.nav:hover {
    background-image: url('../images/underline/under-line-01.png');
    background-repeat: no-repeat;
    background-position: bottom;
}

.nav:active {
    font-weight: 600;
    color: black;
    text-decoration: none;
}

.nav:visited {
    color: black;
    text-decoration: none;
}

   /* --------------------- סימון קישור של העמוד שנמצאים בו כרגע ----------------------------*/

#UrHere:link {
    font-weight:600;
}



/*הגדרות עיצוב לכפתורים בדף*/
.button {
    background-color: #663333;
    color: white;
    border-radius: 15px;
    width: 100px;
    height: 35px;
    font-size: 14pt;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Gveret Levin AlefAlefAlef';
    box-shadow: 0 3px 5px 0 rgba(0,0,0,0.2), 0 3px 5px 0 rgba(0,0,0,0.19);
}
    .button:hover {
        font-size: 16pt;
    }

    .button:active {
        font-size: 16pt;
        box-shadow: none;
    }


    /*החלת פונט גברת בחלקים נבחרים*/
    .font {
        font-family: 'Gveret Levin AlefAlefAlef';
    }

/*חלק ראשון- עליון בדף הבית- "לימדו בקלות כיצד לבשל" *//*--------------------------------*/


#firstSec {
    background-image: url('../images/background/bg-cutting-board.jpg');
    margin-top: -17px;
    margin-right: -120px;
    background-repeat: no-repeat;
    width: 1519px;
    height: 820px;
    position: relative;
}

#firstDIV{
    padding: 100px 100px 0px 0px;
}
/*מיקומים של הכיתוב בחלק הראשון של הדף*/
#firsth1 {
    width: 500px;
    font-size: 65pt;
    padding-right: 100px;
    padding-top: 54px;
    margin: 0px;
    font-weight: 800;
}

#firstP {
    padding-top: 10px;
    padding-right: 100px;
    font-size: 18pt;
    margin: 0px;
}

#secondP {
    padding-top: 37px;
    padding-right: 100px;
    font-size: 22pt;
    margin: 0px;
}


#firstButton {
    margin-top: 41px;
    margin-right: 100px;
    width: 207px;
    height: 45px;
    text-decoration: none;
}
/*-----תמונה של חצים, לרדת למטה בדף------*/
.scroll-down-wrapper {
    animation: MoveUpDown 4s linear infinite;
}
/*----------------- יצירת הפעולה של התזוזה ------*/
@keyframes MoveUpDown {
    10% {
        bottom: 100px;
    }
    20% {
        bottom: 130px;
    }
    30%{
        bottom:100px;
    }
    40%{
        bottom:130px;
    }
    50%, 100%{
        bottom:100px;
    }
}

.scroll-down-wrapper{
    position: absolute;
    display: flex;
    justify-content: center;
    bottom: 100px;
    width: 100%;
}
                   /*----------דיב כללי שעוטף את התמונות המצוירות -------*/
.drawDiv{
    width:150px;
    height:30px;
    white-space:nowrap;
}


/*-------------חץ ראשון בעמוד הבית - חלק עליון -------*/
#firstArrow {
    margin-right: 399px;
    margin-top: -27px;
    transform: rotate( 13deg );
}
/*---------- תמונה של פיצה מצוירת ------*/
#pizzaDrawing {
    margin-right: 847px;
    margin-top: -320px;
}

/*-----ציור של מזלג - חלק עליון -----*/
#first_fork {
    top: -297px;
    right: 1199px;
    position: relative;
}

/*------ציור של כף -----------*/
#first_spoon {
    margin-right: 794px;
    margin-top: -68px;
}
/*---ציור של סכין ----*/
#first_knife {
    margin-right: 78px;
    margin-top: -151px;
    transform: rotate( -9deg );
}
/*-------------------------חלק אמצעי של עמוד הבית -------------------------------------*/
#secondSec {
    background-color: #D9C1C1;
    width: 1319px;
    height: 450px;
    margin-top: -17px;
    margin-right: -120px;
    padding: 162px 200px 0px 0px;
}

#secondh1 {
    font-size: 70pt;
    margin: 0px;
    padding-right: 29px;
    font-weight: 800;
}

#olSEC{
    margin:0px;
    font-size:20pt;
}

#olSEC > li{
    margin:20px;
}

#secondButton {
    margin-top: 30px;
    margin-right: 388px;
    width: 207px;
    height: 45px;
    color:grey;
}

/*סיר עם מעבר עכבר*/
section > div#pot {
    width: 480px;
    height: 443px;
    background-image: url('../images/index-pics/closed_pot-600.png');
    position: relative;
    top: -435px;
    right: 779px;
    background-repeat: no-repeat;
}
    section > div#pot:hover {
        background-image: url('../images/index-pics/open_pot-600.png');
        width: 455px;
        height: 442px;
    }
/*  --------------- חלק שלישיי -----------------------------------*/
#lastSec {
    width: 1319px;
    height: 669px;
    margin-top: -111px;
    margin-right: -120px;
    padding: 140px 150px 30px 0px;
}

#thirdh1 {
    font-size: 50pt;
    margin-bottom: 15px;
    font-weight: 800;
}
/*------ הגדרות של התמונות בקרוסלה----------*/
.foodIMG {
    width: 350px;
    height: 350px;
    margin-left: 80px;
    display: flex;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    justify-content: center;
    opacity: 1;
}

.image-slider-wrapper{
    display: flex;
}

/*----->ציור רקע של מזלג ------*/
#last_fork {
    position: relative;
    bottom: 173px;
    right: -140px;
}
/*-----חץ - חלק תחתון של העמוד בית ------*/
#bottomArrow {
    position: relative;
    bottom: 58px;
    left: -726px;
    transform: rotate( -24deg );
}
/*--------------------נקודות מעבר של התמונות------------------------*/
.dot {
    height: 25px;
    width: 25px;
    border: solid 2px #663333;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    margin-left: 46px;
    cursor: pointer;
}

/*------הגדרות של הנקודות מעבר של הקרוסלה -----*/
.dots-wrapper {
    display: flex;
    width: 96%;
    justify-content: center;
    margin-top: 175px;
}

.dot-active {
    background-color: #663333;
    border: solid 2px white;
}
/*-----הגדרות של טקסט לתאור התמונות של הקרוסלה -----*/
.image-slider-text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: absolute;
    top: 341px;
    font-family: Rubik;
    font-size: 14pt;
    width: 229px;
    height: 142px;
    /*    left: 0px;*/
}

/*----- הגדרות כפתורים של קישורים למתכונים בקרסולה ----*/
.slider-button {
    width: 217px;
    height: 45px;
    text-decoration: none;
    margin-top: 10px;
    position: absolute;
    bottom: 7px;
}

/*------ תמונות של צלחות בקרוסלה + מה שמתקשר לג'בה סקריפט ------'*/
.pasta-for-index {
    background-image: url('../images/index-pics/pasta-index.png');
}

.kish-for-index {
    background-image: url('../images/index-pics/kishim-index.png');
}

.hachapita-for-index {
    background-image: url('../images/index-pics/hachpita-index.png');
}

.pita-zaatar-for-index {
    background-image: url('../images/index-pics/zaatar-index.png');
}

.pizza-pita-for-index {
    background-image: url('../images/index-pics/pizza-index.png');
}

.tomato-salad-for-index {
    background-image: url('../images/index-pics/tomato-salad-index.png');
}

.nutella-toast-for-index {
    background-image: url('../images/index-pics/nutella-index.png');
}

.sabich-pita-for-index {
    background-image: url('../images/index-pics/sabich-index.png');
}

.arais-pita-for-index {
    background-image: url('../images/index-pics/arais-index.png');
}

/*-------הגדרות לכותרת שמתחת לתמונות בקרוסלה -----*/
#image-slider-text, #image-slider-text2, #image-slider-text3{
    font-size:18pt;
    font-weight:800;
    margin-bottom:5px;
}

figure .notActive{
    color:gray;
}

/*---------------------------------------פוטר-------------------------------------*/
footer {
    background-color: #D9C1C1;
    text-align: center;
    font-family: 'Gveret Levin AlefAlefAlef';
    width: 100%;
    height: 74px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*------תפריט ניווט תחתון-----*/
#bottomUl {
    margin: 0 auto;
    padding-right: 326px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding-right: 110px;
}

    #bottomUl > li {
        padding-left: 72px;
        font-size: 14pt;
    }
/*    --- מיקום של זכויות יוצרים ----------*/
#left {
    margin-left: 23px;
    font-size: 10pt;
}
/*אייקונים- פייסבוק, ואטסאפ, אינסטגרם*/
#iconsALL {
    float: right;
    margin-right: 59px;
}

.icons:link {
    text-decoration: none;

}

.icons:active {
    text-decoration: none;

}

.icons:visited {
    text-decoration: none;
}

#iconsALL > a > img {
    width: 20px;
    height: 20px;
}
/*------יצירת אייקון אינסטגרם קצת יותר גדול--*/
#iconsALL > a:last-child > img {
    width: 22px;
    height: 22px;
}



