@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: 'Gveret Levin AlefAlefAlef';
    src: url('../font/GveretLevinAlefAlefAlef-Regular.ttf') format('truetype');
}
html { /*----יצירת גלילה חלקה של המסך----*/
    scroll-behavior: smooth;
}
body {
    direction: rtl;
    background-image: url('../images/background/background-squares-01.png');
    background-color: #EDEDED;
    font-family: Rubik;
    margin: 0 auto;
    font-size: 16pt;
}

#container {
    margin: 0 auto;
    width: 1280px;
    display: contents;
}
/*------עוטף את כל החלק של התוכן-----*/
#mainContent {
    background-color: #F4F2EF;
    width: 1180px;
    height: 100%;
    margin: 0 auto;
    font-family: 'Rubik', sans-serif;
    padding: 100px 100px 0px 0px;
    font-size: 14pt;
    line-height: 1.5;
}


/*----------------- קישורים שאינם פעילים ------------------*/
.notActive {
    cursor: not-allowed;
    color: grey;
}
/*החלת פונט גברת בחלקים נבחרים*/
.font {
    font-family: 'Gveret Levin AlefAlefAlef';
}
/*לוגו האתר*/

img#logo {
    display: inline-block;
    position: fixed;
    width: 200px;
    height: 140px;
    margin-top: -65px;
    z-index: 2;
}

/*הגדרות שורת ניווט עליונה*/
ul#upperNav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: ghostwhite;
    width: 100%;
    height: 61px;
    font-family: 'Gveret Levin AlefAlefAlef';
    font-size: 16pt;
    position: fixed;
    top: 0px;
    z-index: 1;
    padding-right: 0px;
    margin-top: 0px;
}


/*---------------- כפתור "דלג לתוכן" -----------------------------*/
#contentA {
    text-align: center;
    border: solid 1px #663333;
    background-color: white;
    margin-top: 51px;
    margin-right: 1229px;
    width: 130px;
    border-radius: 5px;
    position: fixed;
    z-index: 2;
    font-size: 12pt;
}

#content:link {
    color: black;
    text-decoration: none;
}

#content:active {
    text-decoration: none;
    color: black;
}

#content:visited {
    text-decoration: none;
    color: black;
}
/*----------------------------תפריט ניווט נפתח מתוך המתכונים -----------------------*/
#insideRecipes {
    display: none;
    position: absolute;
    margin-right: -44px;
    margin-top: 430px;
    width: 257px;
    height: 343px;
    list-style: none;
    border-radius: 25px;
    background-color: ghostwhite;
    text-align: right;
}

    #insideRecipes li {
        padding-top: 40px;
    }
/*    -------פתיחת תת תפריט של מתכונים -----*/
#upperNav li:hover #insideRecipes, #upperNav li:focus #insideRecipes {
    display: block;
}
/*----------------------------תפריט ניווט נפתח מתוך הטיפים -----------------------*/
#insideTips {
    display: none;
    position: absolute;
    margin-right: -44px;
    margin-top: 242px;
    width: 257px;
    height: 155px;
    list-style: none;
    border-radius: 25px;
    background-color: ghostwhite;
    text-align: right;
}
    #insideTips li {
        padding-top: 40px;
        padding-right: 40px;
    }
/*    -------פתיחת תת תפריט של טיפים -----*/
#upperNav li:hover #insideTips, #upperNav li:focus #insideTips {
    display: block;
}

/*------------הגדרות סרגל ניווט ראשי+ ברד קראמבס-------------*/
ul#upperNav > li {
    margin: 5px 40px;
    list-style-type: none;
    font-size: 16pt;
    height: 100px;
}

ul#insideRecipes > li {
    margin: 5px 40px;
    list-style-type: none;
    font-size: 16pt;
}

li.nav1 {
    display: flex;
    align-items: center;
}

/*מעבר עכבר לסרגל ניווט ראשי+ ברד קראמבס*/

.nav:link {
    color: black;
    text-decoration: none;
}

 a.nav:hover {
    background-image: url('../images/underline/under-line-01.png');
    background-repeat: no-repeat;
    background-position: bottom ;
    padding-bottom:5px;
}

.nav:active {
    font-weight: 600;
    color: black;
    text-decoration: none;
}

.nav:visited {
    color: black;
    text-decoration: none;
}

/*-------הגדרות ברד קראמבס-----*/
ol#breadCrambs > li {
    display: inline-block;
}

nav #breadCrambs li {
    list-style: none;
    display: inline-block;
}

#breadCrambs {
    padding-top: 30px;
    padding-bottom: 30px;
    list-style: none;
    margin-right: 70px;
    font-size: 14pt;
}
/*------------יצירת חצים בברד קראמבס -----------*/
ol li.nav:after {
    content: " >>";
}

ol li.nav:last-child:after {
    content: "";
}


/* --------------------- סימון קישור של העמוד שנמצאים בו כרגע ----------------------------*/

#UrHere:link {
    font-weight: 600;
}

/*----------תוכן לא פעיל-------*/
.notActive {
    cursor: not-allowed;
    color: grey;
}

                                      /*-------------------- תוכן --------------------------------------*/

/*--הגדרות עיצוב לטקסט בתוכן--*/

h1 {
    font-family: 'Gveret Levin AlefAlefAlef';
    font-size: 85px;
    padding-right: 67px;
}
/*------קישורים בתוכן------*/
#mapSite ul li a {
    text-decoration: none;
    font-family: Rubik;

}

/*--------------  הגדרות של כותרות ראשיות: דף הבית, מתכונים וכו-----------*/
#mapSite ul:first-child > li {
    display: block;
    margin-right: 70px;
}


/*-----עמודי המתכונים -----*/
#mapSite > ul > li > ul > li{
    font-weight:600;
    margin-left:80px;
    font-size:14pt;
}

/*--- היררכיה אחת מתחת לעמודי המתכונים----*/
#mapSite > ul > li > ul > li > ul {
    margin-top: 10px;
}
#mapSite > ul > li > ul > li > ul > li {
    font-weight: 400;
    display:flex;

}
/*-----כללל התוכן שמתחת לכותרות הראשיות--------*/
#mapSite li > ul > li {
    display: inline-grid;
}
/*---כותרות ראשיות במפת אתר ---*/
h2 {
    font-weight: 900;
    font-size: 18pt;
    margin-bottom: 10px;
    margin-top: 63px;
    transition: color 0.5s;
}

/*------עיצוב לקישורים בתוכן עצמו של מפת האתר -----*/
.makeColor:link {
    color: #663333;
    font-weight: bolder;
    text-decoration: none;
}

a.makeColor:hover {
    color: #3A8489;
}

.makeColor:active {
    color: #663333;
    font-weight: bolder;
    text-decoration: none;
}

.makeColor:visited {
    color: #663333;
    font-weight: bolder;
    text-decoration: none;
}

/*------------------תמונות לרקע - ללא משמעות ------------*/
.BGdiv {
    width: 10px;
    height: 30px;
    white-space: nowrap;
}

    .BGdiv > img {
        position: relative;
    }
#spoon-pic {
    right: 267px;
    top: 34px;
    transform: rotate( -78deg );
}

#fork-pic {
    right: 834px;
    top: -222px;
    transform: rotate( -143deg );
}

#knife-pic {
    right: 1011px;
    top: -934px;
    transform: rotate( -5deg );
}

#spoon-pic-two {
    right: 588px;
    top: -569px;
    transform: rotate( 263deg );
}

#decoration-map {
    right: 544px;
    top: -1298px;
    transform: rotate( -5deg );
}
#line-one {
    right: 244px;
    top: -883px;
}

#line-two {
    right: 470px;
    top: -914px;
}
#line-three {
    right: 614px;
    top: -944px;
}
#line-four {
    right: 208px;
    top: -677px;
}
/*----סוף הגדרות לתמונות רקע-----*/
/*---------------------------------------פוטר-------------------------------------*/
footer {
    background-color: #D9C1C1;
    text-align: center;
    font-family: 'Gveret Levin AlefAlefAlef';
    width: 100%;
    height: 74px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*------תפריט ניווט תחתון-----*/
#bottomUl {
    margin: 0 auto;
    padding-right: 326px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding-right: 110px;
}

    #bottomUl > li {
        padding-left: 72px;
        font-size: 14pt;
    }
/*    --- מיקום של זכויות יוצרים ----------*/
#left {
    margin-left: 23px;
    font-size: 10pt;
}
/*אייקונים- פייסבוק, ואטסאפ, אינסטגרם*/
#iconsALL {
    float: right;
    margin-right: 59px;
}

.icons:link {
    text-decoration: none;
}

.icons:active {
    text-decoration: none;
}

.icons:visited {
    text-decoration: none;
}

#iconsALL > a > img {
    width: 20px;
    height: 20px;
}
/*------יצירת אייקון אינסטגרם קצת יותר גדול--*/
#iconsALL > a:last-child > img {
    width: 22px;
    height: 22px;
}
/*-----מיקום של התת תפריט של "ארוחה שלמה- מראשונה ועד קינוח"-----*/
.full-meal-item{
    display: inline-block !important;
    margin-left:30px;
}

.full-meal-item > ul > li{
    display:block !important;
}

.aligned-li {
    position: relative;
    top: -56px;
}

.aligned-li-2 {
    position: relative;
    top: -28px;
}
/*---כותרות של התת כותרות של -ארוחה שלמה---*/
.site-map-header {
    font-weight: 500;
}
